html
  head
    title= title
  body

    .container-fluid.bg-info.text-light.h-100.p-5.text-center
      .container
        .col
          h1= message
        .col
          form(action=urlForm method="post")

            <label for="basic-url">Type your GitHub username</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="GitHub username">
              </div>
            
            <button type="submit" class="btn btn-light">Check</button>

            


    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")